<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1> The Best Cars Reviewed </h1>
    <p>Squid food truck kale chips, tacos tousled skateboard readymade blog plaid forage poutine health goth portland.</p>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @cars.each do |car| %>
   <div class="col-sm-6 col-md-3">
     <div class="thumbnail">
       <%= link_to (image_tag car.image.url(:medium), class: 'image'), car %>
     </div>
   </div>
  <% end %>
</div>